wikiart/
artemis_dataset.csv
data_preprocessed/
raw_data/
checkpoints/m1_pt/
checkpoints/m2_pt/
checkpoints/m1/
checkpoints/model1/
checkpoints/m2/
checkpoints/model2/
eval_outputs/model2/
new_preprocessed/
new_checkpoints/

