wikiart/
artemis_dataset.csv
data_preprocessed/
raw_data/

eval_outputs/model2
eval_outputs/results_cnn_lstm/best_model_glove.pth
eval_outputs/results_cnn_lstm/best_model_fasttext.pth

new_preprocessed/
new_checkpoints/

__pycache__

