# Core
numpy
pandas
scikit-learn
tqdm

# Deep Learning
torch
torchvision

# Image Processing
Pillow

# NLP + Evaluation Metrics
nltk
rouge-score
pycocoevalcap

# Notebook + Utilities
jupyter
matplotlib
